/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 70px;
    font-family: Microsoft Yahei ;
    font-size:14px;
    background:#e6e6e6;
    color:#626262;
  }
  
  /*
   * Global add-ons
   */
  a {
      color: #3085db;
  }
  
  ::-webkit-scrollbar {
  width: 7px;
  height:7px;
  }
  ::-webkit-scrollbar-button {
  display: none;
  }
  ::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: rgba(0,0,0,0.1);
  }
  ::-webkit-scrollbar-track {
  width: 7px;
  height: 7px;
  }
  ::-webkit-scrollbar-track-piece {
  background: transparent;
  }
  
  /*
   * Top navigation
   * Hide default border to remove 1px line.
   */
  .navbar {
      min-height: 70px;
  }
  .navbar-fixed-top {
    border-bottom: 1px solid #e6e6e6;
  }
  
  .navbar-header {
      height:70px;	
  }
  .navbar-inverse .navbar-header {
      margin-left:-15px;
      margin-right:40px;
  }
  .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
      margin-left: 0;
  }
  .navbar-inverse .navbar-brand {
      color: #fff;
      font-size:24px;
  }
  .navbar-brand {
      display:block;
      margin:0;
      padding:0;
      height:70px;
      opacity: .8;
  }
  .navbar-brand:hover {
      opacity: 1;
  }
  .navbar-brand>img { 
      display:inline-block; 
      height:70px;
      width:70px; 
  }
  
  .style-default { 
      background: #3d3d3d;
  }
  .style-default .navbar-nav>li>a {
  
      
  }
  .style-default .navbar-nav>li>a:hover, .style-default .navbar-nav>li>a:focus { 
      
  }
  
  .navbar-inverse .navbar-nav>li>a {
      font-size:14px;  
      padding:25px 20px;
      color:#d5e7f8;
  }
  .navbar-inverse .navbar-nav>li>a i { 
      font-size:18px; 
      padding:0; 
      font-weight:normal; 
      position:relative;
  }
  .navbar-inverse .navbar-nav>li.fa-menu>a i {
      font-size:24px;
      margin:-5px 0 0 5px;
  }
  .navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
      color: #fff;
      background-color: #161616;
      font-weight: bold;
  }
  .navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {
      color: #fff;
      background-color: #286db3;
  }
  
  .badge-top {
    display: inline-block;
    min-width: 10px;
    padding: 1px 5px 3px;
    font-size: 10px;
    font-weight: 500;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #ff9800;
    border-radius: 10px;
    position: absolute;
    top: -10px;
    right: -10px;
  }
  
  /*
   * Sidebar
   */
  
  /* Hide for mobile, show later */
  .sidebar {
    display: none;
  }
  @media (min-width: 768px) {
    .sidebar {
      position: fixed;
      top: 69px;
      bottom: 0;
      left: 0;
      z-index: 99;
      display: block;
      padding:0;
      overflow-x: hidden;
      overflow-y: auto;
      background-color: #fff;
      border-right:1px solid #e6e6e6;
      width:240px;
  
    }
  }
  
  
  /* Sidebar navigation */
  .sidebar .panel-group .panel {
      border-radius: 0px;
      box-shadow:none;
  }
  .sidebar .panel { 
      border:0;
  }
  .panel-group .panel+.panel {
      margin-top: 0;
  }
  .sidebar .panel-default>.panel-heading {
      background-color: #fff; 
      border-top-left-radius: 0;
      border-top-right-radius: 0;
  }
  .sidebar .panel-heading { 
      padding:0;
  }
  .sidebar .panel-title a { 
      padding: 21px 20px; 
      display:block; 
      color:#353535; 
      font-size:14px; 
      border-left:5px solid #304ffe; 
      background:#f0f0f0;
  }
  .sidebar .panel-title a.collapsed { 
      color:#353535; 
      border-left:5px solid #fff; 
      background:#fff;
  }
  .sidebar .panel-title a:hover,.sidebar .panel-title a:focus{ 
      text-decoration:none;
      border-left:5px solid #304ffe; 
      background:#f0f0f0;
  }
  .sidebar .panel-title a i { 
      margin:-5px 15px 0 0; 
      color:#304ffe; 
      font-size:22px; 
      line-height:1; 
      vertical-align:middle;
  }
  .sidebar .panel-title a i.pull-right {
      margin:0;
      color:#353535;
      font-size:14px;
  }
  .sidebar .panel-default>.panel-heading+.panel-collapse>.panel-body {
      border:0;
  }
  .sidebar .panel-body {
      padding:0;
  }
  
  .nav-sidebar>li>a {
    padding:18px 20px;
    color:#353535;
    font-size:14px;
    background:#fff;
    border-left:5px solid #fff;
  }
  .nav-sidebar > .active > a,
  .nav-sidebar > .active > a:hover,
  .nav-sidebar > .active > a:focus {
    color: #353535;
    background-color: #f0f0f0;
    border-left:5px solid #304ffe;
  }
  .nav-sidebar>li>a:hover, .nav-sidebar>li>a:focus { 
      background:#f0f0f0; 
      color:#353535; 
      border-left:5px solid #304ffe;
  }
  
  
  
  
  /*
   * Main content
   */
  
  .main {
    padding:20px 0;
  }
  .box {
      border: 1px solid #D1D1D1;
      border-color: rgba(0,0,0,.14);
      border-radius: 8px;
      box-shadow: 0 3px 8px -6px rgba(0,0,0,.1);
      background: #fff;
      padding:0 0 20px;
  }
  .title {
      height: 60px;
      padding: 0 20px 0 20px;
      background: #F5F5F5;
      background: linear-gradient(#FFF,#F5F5F5);
      border-bottom: 1px solid #DCDCDC;
      border-radius: 10px 10px 0 0;
      box-shadow: 0 1px 7px rgba(0,0,0,.06);
      line-height: 60px;
      color: #646464;
  }
  .title h2 {
      font-size: 18px;
      font-weight: 400;
      color: #626262;
      line-height: 60px;
      margin:0;
      float:left;
  }
  .title .btn-default {
      color: #626262;
      border-color: #ddd;
      margin:12px 0 0;
  }
  .toolbar {
      padding:20px;
  }
  .nav-title {
      border-bottom: 1px solid #ebebeb;
      padding-left:20px;
  }
  .nav-title>li>a {
      border-radius: 0;
      font-size:16px;
      padding: 15px 20px;
      color:#777;
      border-bottom: 3px solid transparent;
  }
  .nav-title>li>a:hover {
      background:none;
      border-color:transparent;
      color:#4285f4;
  }
  .nav-title>li.active>a, .nav-title>li.active>a:hover, .nav-title>li.active>a:focus {
      color: #222;
      border: 1px solid transparent;
      border-bottom: 3px solid #304ffe;
  }
  .tab-form {
      padding:20px 0;
  }
  .tab-form .form-control {
      border-radius:0;
      background:#fafafa;
      border:1px solid #ebebeb;
      -webkit-box-shadow: none;
      box-shadow: none;
  }
  .tab-form .has-error .form-control {
      border-color: #a94442;
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  }
  
  .form-horizontal .control-label {
      font-weight:normal;
  }
  .help-block {
      color:#aaa;
  }
  .top-tip-box{
      position: fixed;
      bottom:0;
      right:10px;
      z-index:1050;
      padding:8px 0;
      width:400px;
      text-align:center;
  }
  .top-tip {
      
      
  }
  .top-tip i {
      font-size: 18px; 
      vertical-align: middle;
      margin-right: 10px;
  }
  
  .table-bordered>thead>tr>th, .table-bordered>thead>tr>td {
      border-bottom-width: 1px;
      font-weight:normal;
      background:#f5f5f5;
  }
  .table-bordered {
      border: 1px solid #e6e6e6;
      border-left:0;
      border-right:0;
      
  }
  .table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {
      border: 1px solid #e6e6e6;
      border-left-width:0;
      border-right-width:0;
      vertical-align:middle;
  }
  .table-nb>thead>tr>th, .table-nb>tbody>tr>th, .table-nb>tfoot>tr>th, .table-nb>thead>tr>td, .table-nb>tbody>tr>td, .table-nb>tfoot>tr>td {
      border: none;
  }
  .table-b>thead>tr>th, .table-b>tbody>tr>th, .table-b>tfoot>tr>th, .table-b>thead>tr>td, .table-b>tbody>tr>td, .table-b>tfoot>tr>td {
      border-left-width: 1px;
      border-right-width:  1px;
  }
  
  .table-list {
      padding:0 20px;
  }
  .table-list .nav-tabs {
      margin:0 -20px;
      padding:0 20px;
  }
  .table-list .nav-tabs>li>a {
      padding: 10px 20px;
      border: 1px solid #ddd;
      background-color: #f5f5f5;
      color:#626262;
  }
  .table-list .nav-tabs>li.active>a,.table-list .nav-tabs>li.active>a:hover,.table-list .nav-tabs>li.active>a:focus {
      color: #333;
      cursor: default;
      background-color: #fff;
      border: 1px solid #ddd;
      border-bottom-color: #fff;
  }
  
  .dropdown-menu {
      border-radius:0;
  }
  .navbar-nav .dropdown-menu {
      padding:0
  }
  .navbar-nav .dropdown-menu>li {
      border-bottom:1px solid #ddd;
  }
  .navbar-nav .dropdown-menu>li:last-child {
      border-bottom:0;
  }
  .navbar-nav .dropdown-menu>li>a {
      padding: 15px 20px;
  }
  .dropdown-menu>li>a:hover {
      background-color: #e5e5e5;
  }
  
  .table-pagination {
      clear:both;
      height:100%;
  }
  .table-pagination .pagination {
      margin: 0 10px;
      vertical-align: middle
  }
  .pagination>li:first-child>a, .pagination>li:first-child>span {
      border-radius: 4px;
  }
  .pagination>li:last-child>a, .pagination>li:last-child>span {
      border-radius: 4px;
  }
  .pagination>li>a, .pagination>li>span {
      margin-left: 5px;
      color: #304ffe;
      border: 1px solid #e6e6e6;
  }
  .pagination>.active>a, .pagination>.active>span {
      border-radius: 4px;
  }
  .pagination {
      margin:0;
  }
  .text-success {
      color: #43a047;
  }
  .text-danger {
      color: #e53935;
  }
  
  .ml5 {
      margin-left:5px;
  }
  .ml10 {
      margin-left:10px;
  }
  .m20 {
      margin:0 20px 20px;
  }
  .mt20 {
      margin-top:20px;
  }
  .pd20 {
      padding:20px;
  }
  .ml240 {
      margin-left:240px;
  }
  .w100 {
      width:100px;
  }
  .site-list { min-width:590px; padding:10px 0;right: 4px;left: auto;}
  .site-list li { width:185px; float:left;}
  .site-list li.divider {margin: 5px 0; width:100%;}
  .site-list li.play-title { padding:5px 20px; color:#777;width:100%;}
  .site-list-sm-sm li { width:90px;}
  .play-list { min-width:390px; padding:10px 0;}
  .play-list li { width:120px; float:left;}
  .play-list li.divider {margin: 5px 0; width:100%;}
  .play-list li.play-title { padding:5px 20px; color:#777;width:100%;}
  .play-list-sm li { width:90px;}
  .table>tbody+tbody {
      border-top: 1px solid #ddd;
  }
  
  .btn-line {
      color: #e2e2e2;
      padding: 0 7px;
  }
  
  .text-shadow {
    font-size: 170px;
    color:#fff;
    text-shadow: 0 1px 0 #dee5e7, 0 2px 0 #fcfdfd, 0 5px 10px rgba(0, 0, 0, 0.125), 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  .font18 {
      font-size:18px;
  }
  .btn-primary {
      background-color: #3085db;
      border-color: #2b74bf;
  }
  .pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
      background-color: #3085db;
      border-color: #3085db;
  }
  .mytable>tbody>tr>td {border:0;padding:2px 8px;}
  .mytable td,.mytable td input{
      text-align:center;
  }
  .mytable td input{
      padding:6px 3px;
  }
  .valid-error .ng-invalid{
          border-color: #a94442;
          -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  }
  .valid-error .help-block{
      color:#a94442;
  }
  .pd20 {
      padding:20px;
  }
  .modal-p90{
      width:90%;
  }
  